<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025744356973-ppjf1t3ln0h1uit0i6ejmotn6cuklemv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025744356973-ppjf1t3ln0h1uit0i6ejmotn6cuklemv</string>
	<key>API_KEY</key>
	<string>AIzaSyAklTsLvFD_T-Ro1QMgbPRbS711VvmnnPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1025744356973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.galeritekno.speederp001</string>
	<key>PROJECT_ID</key>
	<string>speedlab-lentera</string>
	<key>STORAGE_BUCKET</key>
	<string>speedlab-lentera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025744356973:ios:46b4ca56bbe33e6eb56164</string>
	<key>DATABASE_URL</key>
	<string>https://speedlab-lentera.firebaseio.com</string>


</dict>
</plist>